@using MySurveys.Web.Areas.Surveys.ViewModels
@{
    ViewBag.Title = "Surveys";
}

<div class="row">
    <div class="text-center">
        <h2>Surveys</h2>
    </div>

    @using MySurveys.Web.Areas.Surveys.ViewModels

    <table id="survey-list" class="table table-striped table-responsive table-hover table-bordered infinite-scroll">
        <thead>
            <tr>
                <th class="col-xs-1">№</th>
                <th class="col-xs-4">Title</th>
                <th class="col-xs-3">Author</th>
                <th class="col-xs-1">Total Questions</th>
                <th class="col-xs-1">Total Participants</th>
                <th class="col-xs-2">Options</th>
            </tr>
        </thead>
        <tbody>
            @Html.Partial("_SurveysPartial", (ViewBag.Surveys as Dictionary<int, SurveyViewModel>))
        </tbody>
    </table>
</div>
@Html.Partial("_Loading")
@Scripts.Render("~/bundles/infinityScroll")
<script>
    $(function () {
    $("div#loading").hide();
});
var moreRowsUrl = '@Url.RouteUrl("Surveys_Scroll")';
$(window).scroll(scrollHandler);
</script>