@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Always The Real Thing, Always MySurveys</h1>
    <h4 class="pull-right"><i>Start creating cool surveys.</i></h4>
</div>
<hr />
<div class="jumbotron">
    @Html.Action("MostPopularSurveys")
</div>

