@if (User.Identity.IsAuthenticated && !User.IsInRole(MySurveys.Common.GlobalConstants.AdminRoleName))
{
    <li>@Html.ActionLink("Surveys", "Index", "Surveys", new { area = "Surveys" }, null)</li>
    <li>@Html.ActionLink("Create new Survey", "Create", "MySurveys", new { area = "Surveys" }, null)</li>
    <li>@Html.ActionLink("My Surveys", "Index", "MySurveys", new { area = "Surveys" }, null)</li>
}
