@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="jumbotron text-center">
    <h1 class="text-danger">An error occurred while processing your request.</h1>
    <h2 class="text-danger">Please, try again later.</h2>
</div>

